<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Happy Harvest</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-static-top">


        <a href="#"><img src="~/images/hh-logo.png" title="Happy Harvest Logo" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav"
                aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainnav">
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Activities </a>
                    <div class="dropdown-menu" aria-labelledby="navdrop">
                        @Html.ActionLink("Petting Zoo", "PettingZoo", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Corn Maze*", "CornMaze", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Pumpkin Patch", "PumpkinPatch", "Home", null, new { @class = "dropdown-item" })
                    </div>
                </li>


                <li class="nav-spacer"></li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">About Us </a>
                    <div class="dropdown-menu" aria-labelledby="navdrop">
                        @Html.ActionLink("Location & Directions*", "Location", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Hours of Operation*", "Hours", "Home", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Our History*", "History", "Home", null, new { @class = "dropdown-item" })
                    </div>
                </li>

                <li class="nav-item">@Html.ActionLink("Contact Us*", "Contact", "Home", null, new { @class = "nav-link" })</li>
            </ul>

        </div>
    </nav>

    <div class="container body-content error">
        <h3>404</h3>
        <p class="text-center">We are sorry, but the page you requested was <b>NOT</b> found.</p>
        @RenderBody()

    </div>
    <footer>
        <div class="footer-top ">
            <img src="~/images/icons/facebook.png" alt="Facebook Icon" />
            <img src="~/images/icons/instagram.png" alt="Instagram Icon" />
            <img src="~/images/icons/pintrest.png" alt="Pintrest Icon" />
            <img src="~/images/icons/twitter.png" alt="Twitter Icon" />
            
            <p>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "footer-link" }) | 
                @Html.ActionLink("Contact Us*", "Contact", "Home", null, new { @class = "footer-link" }) <br />
                <b>Activities</b> »
                @Html.ActionLink("Petting Zoo", "PettingZoo", "Home", null, new { @class = "footer-link" }) »
                @Html.ActionLink("Corn Maze*", "CornMaze", "Home", null, new { @class = "footer-link" }) »
                @Html.ActionLink("Pumpkin Patch", "PumpkinPatch", "Home", null, new { @class = "footer-link" }) <br />
                <b>About Us</b> »
                @Html.ActionLink("Location & Directions*", "Location", "Home", null, new { @class = "footer-link" }) »
                @Html.ActionLink("Hours of Operation*", "Hours", "Home", null, new { @class = "footer-link" })  »
                @Html.ActionLink("Our History*", "History", "Home", null, new { @class = "footer-link" }) 

            </p>
        </div>
        <p>A Happy Harvest crafted with ❤ every fall just for you.<br />
        &copy; @DateTime.Now.Year Happy Harvest | All Rights Reserved</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
